<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
<div class="block-3">
            <div class="block-3-left">
                <div class="wine-img">

                </div>
                <div class="wine-text">
                    <h1>徐学轩</h1>
                    <p>啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
                    <div class="wine-comments">

                        <div class="wine-right">
                            <a class="popup-with-zoom-anim no-bagr" href="#small-dialog2">你瞅瞅</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!--pop-->
            <div id="popup2">
                <div id="small-dialog2" class="mfp-hide">
                    <div class="pop_up">
                        <div class="continue-read-btn">
                            <h3>史江浩</h3>
                            <p>啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- block-4 strat here-->
            <div class="block-3-right">
                <div class="wine-img1">
                    <h3>赵文文</h3>
                    <p>啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
                    <img src="{% static 'images/beer-gls.png' %}" alt="">
                    <div class="block-rit-btn">
                        <a class="popup-with-zoom-anim" href="#small-dialog1">你再瞅瞅</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--pop-->
        <div id="popup1">
            <div id="small-dialog1" class="mfp-hide">
                <div class="pop_up">
                    <div class="order-popup-main">
                        <h3>田鑫林</h3>
                        <p>啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
                    </div>
                </div>
            </div>
        </div>










<div id="myCarousel" class="carousel slide">
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0"
                        class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="{% static 'images/s1.jpg' %}" alt="第一张">
                    </div>
                    <div class="item">
                      <img src="{% static 'images/s2.jpg' %}" alt="第二张">
                    </div>
                    <div class="item">
                      <img src="{% static 'images/s3.jpg' %}" alt="第三张">
                    </div>
                  </div>
                  <a href="#myCarousel" data-slide="prev" class="carousel-control
                left">&lsaquo;</a>
                  <a href="#myCarousel" data-slide="next" class="carousel-control
                right">&rsaquo;</a>
            </div>
            <script>
                $('#myCarousel').carousel({
                //自动4秒播放
                    interval : 3000,
                });
                $('.carousel-control').css('line-height', $('.carousel-inner img').height() + 'px');//获取图片高度设置居中
                $(window).resize(function () {                                                            //当浏览器窗口改变的时候获取高度
                var $height = $('.carousel-inner img').eq(0).height() || 
                 $('.carousel-inner img').eq(1).height() || 
                 $('.carousel-inner img').eq(2).height();
                $('.carousel-control').css('line-height', $height + 'px');   //设置居中
                });
            </script>